<div class="main-listings basic-pos">
	<div class="top-menu basic-pos">
		<div class="app-title pull-left">Lets Talk</div>
		<div class="menu-opt pull-right">
			<div class="dropdown">
			  <a class="pad12 opt-btn"><i class="fa fa-ellipsis-v"></i></a>
			  <div class="dropdown-menu" id="options" aria-labelledby="dropdownMenuLink">
			    <a href="setting.html" class="dropdown-item">Setting</a>
			    <a class="dropdown-item logout">Logout</a>
			  </div>

			</div>
		</div>
		<div class="search pull-right"><a class="pad12"><i class="fa fa-search"></i></a></div>
	</div>
	<div class="main-menus basic-pos pad-top-btm">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#chat" class="chat-menu">Chat</a></li>
			<li><a data-toggle="tab" href="#status" class="chat-menu">Status</a></li>
			<li><a data-toggle="tab" href="#groups" class="chat-menu">Groups</a></li>
		</ul>
		<div class="tab-content">
		    <div id="chat" class="tab-pane in active">
		    	<div class="pad-top-btm chat-wrapper open-chat" style="list-style-type: none;">
		    		<li>
		    			<a><img class="round r50" src="img/user_icon.jpg" /></a>
		    			<span>Loading <i class="fa fa-spinner fa-spin"></i></span>
		    		</li>
		    	</div>
		    	<div class="quick-act wrt-msg"><a href="find_friend.html" style="color:white"><i class="fa fa-envelope"></i></a></div>
		    </div>
		    <div id="status" class="tab-pane">
		    	<div class="pad-top-btm" style="list-style-type: none;">
		    		<li>
		    			<a><img class="round r50" src="img/user_icon.jpg" /></a>
		    			<span>Status 1</span>
		    		</li>
		    		<li>
		    			<a><img class="round r50" src="img/user_icon.jpg" /></a>
		    			<span>Statu 2</span>
		    		</li>
		    		<li>
		    			<a><img class="round r50" src="img/user_icon.jpg" /></a>
		    			<span>Status 3</span>
		    		</li>
		    	</div>
		    	<div class="quick-act create-group"><i class="fa fa-users"></i></div>
		    </div>
		    <div id="groups" class="tab-pane">
		    	<div class="pad-top-btm group-wrapper" style="list-style-type: none;">
		    		<li>
		    			<a><img class="round r50" src="img/group_icon.jpg" /></a>
		    			<span>No Group</span>
		    		</li>
		    	</div>
		    	<div class="quick-act create-group"><i class="fa fa-users"></i></div>
		    </div>
		</div>
	</div>
</div>




